<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Confirmation</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" types="text/css">
    <link rel="stylesheet" href="/styles/confirmation.css" type="text/css"="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Italiana&family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body style="margin-top: 130px; background-color: #f5f5f5; background-image: url('https://www.transparenttextures.com/patterns/xv.png');">
    <nav>
      <%- include('partials/_header') %>
    </nav>
    <section class="response-container">
      <div>
        <p>Thank you! <br>Your order is now confirmed.<br> Please click below, or navigate to the order status page for when your order will be ready for pickup!</p>
        <p>Order # <%= order_id %> for <%= name %></p>
        <% for (let item of orderArr) { %>
          <!-- <p><%= item.itemName %> : <%= item.itemQuantity %></p> -->
          <p>Total for cost for <%= item.itemQuantity %> <%= item.itemName %> : $<%= item.totalCostOfItems %></p>
        <% } %>
        <p>Order total $<%= orderTotal %></p>
        <p>Submitted at <%= timeStamp %></p>
        <a href="/sms/smsReceive"><button class="btn btn-dark" id="status-button">Order status</button></a>
      </div>
    </section>
  </body>
</html>
